FLASK_ENV=development
PORT=8000
DATABASE_URL=postgresql+psycopg://finan_user:finan_dev_senha@127.0.0.1:5434/finan_controle
SECRET_KEY=troque-esta-chave
JWT_SECRET_KEY=troque-esta-chave-tambem
CORS_ORIGINS=http://localhost:3000
UPLOAD_DIR=uploads
