flask>=3.1,<4
flask-sqlalchemy>=3.1,<4
sqlalchemy>=2.0.40,<3
flask-migrate>=4.1,<5
flask-jwt-extended>=4.7,<5
pydantic[email]>=2.11,<3
flask-cors>=5,<7
psycopg[binary]>=3.2,<4
gunicorn>=23
argon2-cffi>=23
python-dotenv>=1.1
requests>=2.32,<3
pywebpush>=2,<3
